name: CI

on:
    workflow_dispatch:
        inputs:
            os:
                description: "OS"
                required: true
                default: Linux
                type: choice
                options:
                    - Linux
                    - macOS
                    - Windows
    pull_request:
        branches: ["*"]
        types: ["opened", "synchronize", "reopened"]
    push:
        branches: ["master"]
        tags: ["v[0-9]+.[0-9]+.[0-9]+", "**/v[0-9]+.[0-9]+.[0-9]+"]

permissions:
    contents: read

run-name: ${{ (github.event_name == 'workflow_dispatch' && format('Manual Run for {0} {1} {2}', github.event.inputs.os, github.ref_name, github.sha)) || (github.event_name == 'pull_request' && format('PR {0} {1}', github.event.number, github.sha)) || (github.event_name == 'push' && format('Push {0} {1}', github.ref, github.sha)) }}

jobs:
    ci:
        uses: ram-nad/go-monorepo/.github/workflows/go-ci.yml@master
        with:
            os: ${{ (github.event_name != 'workflow_dispatch' && 'Linux') ||  github.event.inputs.os }}
            min_go_version: "1.25.5"
            golangci_lint_version: "2.7.0"
